n8n/intel-slack-workflow.json
{
  "_comment": "Mercury Intelligence — /intel Slack Research Bot workflow. Sanitised for public showcase. Replace all <placeholder> values before importing.",
  "name": "Mercury Intel — Slack Research Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intel-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1049c0ad-ef01-4c01-b3b9-c329d31fbc58",
      "name": "Webhook: Intel Slack Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [256, -160],
      "webhookId": "mercury-intel-slack"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"response_type\":\"in_channel\",\"text\":\"⏳ Researching *{{ $json.body.text }}*...\\n_Mercury Intelligence is pulling your full MEDDPICC brief (~40 seconds)._\"}",
        "options": {}
      },
      "id": "2e2ecdbd-420e-4bb8-aa2c-64b7797b4ba0",
      "name": "Acknowledge: Researching...",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [496, -160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "company-field",
              "name": "company",
              "value": "={{ $('Webhook: Intel Slack Request').first().json.body.text.trim() }}",
              "type": "string"
            },
            {
              "id": "channel-field",
              "name": "channel_id",
              "value": "={{ $('Webhook: Intel Slack Request').first().json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "response-url-field",
              "name": "response_url",
              "value": "={{ $('Webhook: Intel Slack Request').first().json.body.response_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c665998-dfe1-480a-9c24-9b2ae90be61b",
      "name": "Extract: Company & Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [736, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<your-api-host>/api/brief/v4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company: $json.company }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "e4d47152-8956-4c84-9ebb-3d8bf6d16d51",
      "name": "Mercury API: Layer 4 Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [976, -160],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<your-api-host>/api/brief/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ brief: $json }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "0bd19faa-23b9-4568-9bdd-5b419a15e234",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1216, -160]
    },
    {
      "parameters": {
        "jsCode": "const brief = $('Mercury API: Layer 4 Brief').first().json;\nconst pdfNode = $('Generate PDF').first().json;\n\nconst company = brief.company_name || brief.company || 'Unknown Company';\nconst industry = brief.industry || '';\nconst hq = brief.headquarters || '';\nconst size = brief.company_size || brief.employees || '';\nconst metaParts = [industry, hq, size].filter(Boolean);\n\nconst rawScore = brief.qualification_score ?? brief.score ?? 0;\nconst score = parseInt(rawScore, 10) || 0;\nconst isHot = score >= 7;\nconst scoreEmoji = isHot ? '🔥' : '⭐';\nconst routeLabel = isHot ? 'HOT LEAD' : 'NURTURE LEAD';\n\nconst overview = (brief.overview || '').trim();\nconst pains = (brief.pain_points || []).slice(0, 3).map(p => `• ${p}`).join('\\n');\nconst rawAngle = (brief.opening_angles || [])[0] || '';\nconst angle = rawAngle && !/[.!?]$/.test(rawAngle) ? rawAngle + '.' : rawAngle;\nconst fitRaw = Array.isArray(brief.strategic_fit) ? brief.strategic_fit : (brief.strategic_fit ? [brief.strategic_fit] : []);\nconst fit = fitRaw.slice(0, 3).map(f => `• ${f}`).join('\\n');\n\nconst reportUrl = pdfNode.html_url || pdfNode.pdf_url || '';\nconst channelId = $('Webhook: Intel Slack Request').first().json.body.channel_id || '';\n\nconst lines = [\n  `${scoreEmoji} *${company} — ${routeLabel}  ${score}/10*`,\n  metaParts.length ? `_${metaParts.join('  |  ')}_` : null,\n  overview ? `\\n*Overview:*\\n${overview}` : null,\n  pains    ? `\\n*Signals:*\\n${pains}`        : null,\n  fit      ? `\\n*Strategic fit:*\\n${fit}`     : null,\n  angle    ? `\\n*Lead with:* ${angle}`         : null,\n  '',\n  reportUrl ? `📊 Full brief → ${reportUrl}` : null,\n];\n\nconst text = lines.filter(l => l !== null).join('\\n');\nreturn [{ json: { text, channel: channelId, company } }];"
      },
      "id": "0e88978a-eeb1-4383-b603-f1ce860e258e",
      "name": "Format: Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1456, -160]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.text }}",
        "otherOptions": { "mrkdwn": true },
        "attachments": []
      },
      "id": "b6e1ede5-dde7-49c5-9d2a-f11601ab006c",
      "name": "Slack: Post Brief",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1696, -160],
      "credentials": {
        "slackApi": {
          "id": "<your-slack-credential-id>",
          "name": "<your-slack-bot-name>"
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-def0-layer4errslk",
      "name": "Slack: Error Handler",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [976, 80],
      "credentials": {
        "slackApi": {
          "id": "<your-slack-credential-id>",
          "name": "<your-slack-bot-name>"
        }
      },
      "parameters": {
        "channel": "={{ $('Extract: Company & Channel').first().json.channel_id }}",
        "text": "={{ \"⚠️ Could not generate a brief for *\" + $('Extract: Company & Channel').first().json.company + \"*. Please try again in a few minutes.\" }}",
        "otherOptions": { "mrkdwn": true },
        "attachments": []
      }
    }
  ],
  "connections": {
    "Webhook: Intel Slack Request": {
      "main": [[{ "node": "Acknowledge: Researching...", "type": "main", "index": 0 }]]
    },
    "Acknowledge: Researching...": {
      "main": [[{ "node": "Extract: Company & Channel", "type": "main", "index": 0 }]]
    },
    "Extract: Company & Channel": {
      "main": [[{ "node": "Mercury API: Layer 4 Brief", "type": "main", "index": 0 }]]
    },
    "Mercury API: Layer 4 Brief": {
      "main": [
        [{ "node": "Generate PDF", "type": "main", "index": 0 }],
        [{ "node": "Slack: Error Handler", "type": "main", "index": 0 }]
      ]
    },
    "Generate PDF": {
      "main": [[{ "node": "Format: Slack Message", "type": "main", "index": 0 }]]
    },
    "Format: Slack Message": {
      "main": [[{ "node": "Slack: Post Brief", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
